<section class="card login">
    <!-- novalidate  to make angualr takeover the form validation  -->
    <form name="myform" ng-submit="login()" novalidate>
        <!-- ng-submit="login()" So what that does is go ahead and run a method or function in the current scope when this form is submitted.
        So I'm going to say when this form submits, I'm going to call a function called login -->

        <div class="textintro">
            <h1>Hi there!</h1>
            <p>Log-in to access the awesomeness!</p>
            <p class="message" ng-show="message">
                {{ message }}
            </p>
            <!-- which means that this paragraph is only going to show up if the message variable exists. -->
        </div>

        <fieldset>
            <!-- when somebody types in to this input field, Angular is going to create for us a variable and we're going to put that inside a user object and this ones going to be called email. So ngmodel is going to create a variable in the current apps scope -->
            <input type="email" name="email" placeholder="Email" ng-model="user.email" ng-required="true">
            <p class="error validationerror" ng-show="myform.email.$invalid && myform.email.$touched">
                Must be a valid email
            </p>
            <input type="password" name="password" placeholder="Password" ng-model="user.password" ng-required="true">
            <p class="error validationerror" ng-show="myform.password.$invalid && myform.password.$touched">
                Password is required
            </p>
        </fieldset>

        <!-- it's not going to allow me to submit anything, and it's not until I am able to type in some information here, that this button is going to allow me to send something through the input field. -->
        <button type="submit" class="btn" ng-disabled="myform.$invalid">Login</button>
        <p>or <a ng-href="#/register">register</a></p>
    </form>
</section>
